@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-font: 'Roboto';
  --max-width: 1440px;
  --blue: #2196f3;
  --blue-dark: #1e88e5;
  --white: #ffffff;
  --dark: #000000;
  --red: #f24e1e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: 14px;
}

main {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 60px;
}

a {
  color: inherit;
  text-decoration: none;
}
